<nav class="navbar navbar-expand-lg bg-secondary bg-gradient bg-opacity-25">
  <div class="container-fluid">
    <a class="navbar-brand">MyStore</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home/home_page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home/product/gallary"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home/product/cart"
            >Cart</a
          >
        </li>
      </ul>
      <div class="d-flex" role="search">
        <button (click)="onLogin()" class="btn" id="login">Login</button>
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-secondary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ userName }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button routerLink="/home/user/address-list" ngbDropdownItem>
              My Addresses
            </button>
            <button routerLink="/home/order/history" ngbDropdownItem>
              My Orders
            </button>
            <button (click)="onLogout()" ngbDropdownItem>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
